<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=UTF-8>
    <title>Home page</title>

    <style>
        .form{
            text-align: center;
            height: 100%;
            margin-top: 20px;
        }
        .btn{
            background-color:red;
            margin-top: 5%;
        }
    </style>







</head>
<body>



            <form action="/Wep_App_war/longOut" method="post" class="form">
                <h1>Welcome</h1>
                    <label>First Name : ${First_Name}</label><br>
                     <label>Last Name : ${Last_Name}</label><br>

                <button class="btn">Log Out</button>
            </form>

</body>
</html>